[[source]]

name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true


[dev-packages]

ipdb = "*"


[packages]

"0c62931" = {path = "/home/pwtail/projects/channels"}
ipython = "*"
"954ce89" = {path = "/home/pwtail/projects/daphne", editable = true}
"psycopg2" = "*"


[requires]

python_version = "3.6"
